<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Dailton Bastos">
  <meta name="description" content="Lauchstore o seu e-commerce">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">

  {% block head %}
    <title>Launchstore</title>
  {% endblock %}

</head>
<body>
  {% include "../_partials/header.njk" %}

  {% block content %}

  {% endblock %}

  {% include "../_partials/footer.njk" %}
</body>
</html>
