<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Dailton Bastos">
  <meta name="description" content="Lauchstore o seu e-commerce">

  {% include "../_partials/styles.njk" %}

  {% block head %}
    <title>Launchstore</title>
  {% endblock %}

</head>
<body>
  {% include "../_partials/messages.njk" %}

  {% include "../_partials/header.njk" %}

  {% block content %}

  {% endblock %}

  {% include "../_partials/footer.njk" %}

  <script src="/script.js"></script>
</body>
</html>
