{% extends "../_layout/default.njk" %}
{% import "../_partials/section_products.njk" as section %}

{% block content %}

  {{ section.products('Últimos Produtos', 'container', products )}}

{% endblock content %}
