<label for="category">Categoria</label>
<select name="category_id" id="category">
  {% for category in categories %}
    <option
      value="{{ category.id }}"
      {% if product.category_id === category.id %}
        selected
      {% endif %}
    >
      {{ category.name }}
    </option>
  {% endfor %}
</select>

<label for="name">Título</label>
<input
  type="text"
  name="name"
  id="name"
  placeholder="Digite o Título do Anúncio"
  value="{{ product.name }}"
>

<label for="description">Descrição</label>
<textarea name="description" id="description" cols="30" rows="10"
>{{ product.description}}</textarea>

<label>Fotos</label>
<div class="photos-uploads">
  <input
    type="file"
    name="photos"
    multiple
    accept="images/*"
    onchange="PhotosUpload.handleFileInput(event)"
  >
  <p>Selecione até 6 Fotos</p>
</div>
<div class="photos-preview">
  {% if product.files %}
    {% for image in product.files %}
      <div class="photo" id="{{ image.id }}">
        <img src="{{ image.src }}" alt="{{ image.name }}">
        <i
          class="material-icons"
          onclick="PhotosUpload.removeOldPhoto(event)"
        >close</i>
      </div>
    {% endfor %}
    <input type="hidden" name="removed_files">
  {% endif %}
</div>

<label for="price">Valor</label>
<input
  type="text"
  name="price"
  id="price"
  placeholder="Preço do Produto"
  value="{{ product.formattedPrice }}"
  onkeydown="Mask.apply(this, 'formatBRL')"
>

{% if product.old_price %}
  <input type="hidden" name="old_price" value="{{ product.formattedOldPrice }}">
{% endif %}

<label for="quantity">Quantidade</label>
<input
  type="number"
  name="quantity"
  id="quantity"
  placeholder="Estoque Disponível"
  value="{{ product.quantity }}"
>

{% if (product.status === 1) or (product.status === 0)%}
  <label for="status">Disponível ?</label>
  <div class="status">
    <span>
      <input
        type="radio"
        name="status"
        id="status"
        value="1"
        {% if product.status === 1 %}
          checked
        {% endif %}
      > Sim
    </span>

    <span>
      <input
        type="radio"
        name="status"
        id="status"
        value="0"
        {% if product.status === 0 %}
          checked
        {% endif %}
      > Não
    </span>
  </div>
{% endif %}
