{% extends "../_layout/default.njk" %}

{% import "../_partials/card.njk" as card %}

{% block content %}

  {% call card.render('Detalhes', 'container form') %}
    <form action="/products" method="post" enctype="multipart/form-data">

      <div class="fields">
        {% include "./_fields.njk" %}
      </div>

      <button
        type="submit"
        class="button"
        onclick="Validate.allFields(event)">Salvar</button>
    </form>
  {% endcall %}

{% endblock %}
