{% extends "../_layout/default.njk" %}

{% import "../_partials/card.njk" as card %}

{% block content %}

  {% call card.render('Editar Produto', 'form container') %}
    <form action="/products?_method=PUT" method="post" enctype="multipart/form-data">

      <div class="fields">
        {% include "./_fields.njk" %}

        <input type="hidden" name="id" value="{{ product.id }}">
      </div>

      <button type="submit" class="button edit">Atualizar</button>
    </form>

    <form action="/products?_method=DELETE" method="post" data-form="delete">
      <input type="hidden" name="id" value="{{ product.id }}">
      <button type="submit" class="button delete">Deletar</button>

      {% include "../_partials/confirm_delete.njk" %}
    </form>
  {% endcall %}

{% endblock %}
