{% block content %}
  <script>
    const formDelete = document.querySelector('[data-form="delete"]');
    if(formDelete) {
      const handleDelete = (event) => {
        const confirm = window.confirm('Deseja Deletar?');
        if(!confirm) event.preventDefault();
      }
      formDelete.addEventListener('submit', handleDelete);
    }
  </script>
{% endblock content %}
