{% extends "../_layout/default.njk" %}

{% block content %}

  <section class="user-dashboard container form">
    <form action="/users?_method=PUT" method="post">

      <div class="header">
        <h3>Detalhes</h3>
      </div>

      <div class="fields">
        {% include "./_fields.njk" %}

        <input type="hidden" name="id" value="{{ user.id }}">
      </div>

      <button type="submit" class="button edit">Atualizar</button>
    </form>

    <form action="/users?_method=DELETE" method="post" data-form="delete">
      <input type="hidden" name="id" value="{{ user.id }}">
      <button type="submit" class="button delete">Deletar</button>

      {% include "../_partials/confirm_delete.njk" %}
    </form>

  </section>
{% endblock %}
