{% extends "../_layout/default.njk" %}

{% import "../_partials/card.njk" as card %}

{% block content %}

  {% call card.render('Registre-se', 'user-register form container') %}
    <form action="/users/register" method="post">

      <div class="fields">
        {% include "./_fields.njk" %}
      </div>

      <button type="submit" class="button">Salvar</button>
    </form>
  {% endcall %}

{% endblock %}
